.login-wrapper {

    .login-title {
        margin-bottom: 2rem;
    }

    p, ul, li {
        font-size: 0.9rem;
    }

    button {
        color: white;
        background-color: black;
        border-radius: 1px;
        width: 100%;
    }
}
